[submodule "scouting-engine"]
	path = scouting-engine
	url = https://github.com/AbdulmalikAlayande/valorant-scouting-engine
[submodule "scouting-api"]
	path = scouting-api
	url = https://github.com/AbdulmalikAlayande/valorant-scouting-tool-java
